<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production House</title>
</head>
<body>
    <h1>🦞   </h1>
    <h1>  Our Production House List  </h1>
    <%- include('partial/navbar') %>

    <table border="4">
        <thead>
              <tr>
                  <th>Name </th>
                  <th>Head quarters</th>
 

              </tr>
        </thead>
        <tbody>
            <%   data.forEach(el=>{ %>
               <tr>
                     <td><%= el.name_prodHouse%></td>
                     <td><%=el.headquarters%></td>
               </tr>

            <%})%>


        </tbody>



    </table>
</body>
</html>